.bar {
  margin-bottom: 5px;
  display: flex;
  align-items: baseline;
}

.group {
  margin-right: 5px;
}

.button {
  background: #fff;
  border: none;
  font-size: inherit;
  cursor: pointer;
  color: #777;
  border-radius: 0;
  padding: 5px 10px;
}

.button:hover {
  color: #000;
  background: #f6f6f6;
}

.button.active {
  color: #000;
}

.button:disabled {
  color: #ccc;
}
