.bar {
  border-bottom: 1px solid #ddd;
}

.button {
  background: white;
  border: none;
  font-size: inherit;
  cursor: pointer;
  color: #777;
  border-radius: 0;
  padding: 5px 10px;
}

.button:hover {
  color: #000;
}

.button.active {
  color: #000;
}

.button:disabled {
  opacity: 0.5;
}

.separator {
  vertical-align: bottom;
  width: 1px;
  display: inline-block;
  background: #ddd;
  height: 28px;
}
