.floater {
    position: absolute;
    z-index: 10;
    border: 3px solid #151616;
    border-radius: 3px;
    white-space: nowrap;
    margin: 0;
    display: flex;
}

.floater :last-child {
    margin: 0;
}
