.bar {
  margin-bottom: 5px;
  display: flex;
  align-items: baseline;
}

.group {
  margin-right: 5px;
}

.button {
  background: #fff;
  border: none;
  font-size: inherit;
  cursor: pointer;
  color: #777;
  border-radius: 0;
  padding: 5px 10px;
}

.button:hover {
  color: #000;
  background: #f6f6f6;
}

.button.active {
  color: #000;
}

.button:disabled {
  color: #ccc;
}

.floating {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: #151616;
  padding: 3px;
  border-radius: 3px;
  height: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.floating span:last-child {
  margin-right: 0;
}
