.ProseMirror-container {
  position: relative;
}

.ProseMirror {
  font-family: Helvetica, sans-serif;
  padding: 1em;
  position: relative;
  overflow-y: auto;
  min-height: 5em;
  max-height: 10em;
  max-width: 40em;
}

.ProseMirror:focus-within {
  outline: none;
}

