.ProseMirror-container {
  position: relative;
  margin: 8px 16px;
}

.ProseMirror {
  font-family: sans-serif;
  padding: 0 16px;
  margin: 8px 0;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 2px;
  min-height: 10em;
  font-size: 24px;
}

.ProseMirror:focus-within {
  outline: none;
}
