.ProseMirror-floater {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
}

.ProseMirror-floater .ProseMirror-toolbar-item {
    background-color: #333;
    color: white;
    opacity: 0.8;
    border: none;
}

.ProseMirror-floater .ProseMirror-toolbar-item[data-active=true] {
    background-color: #000;
}

.ProseMirror-floater .ProseMirror-toolbar-item:active {
    background-color: #000;
}
