.ProseMirror-toolbar {
  display: flex;
}

.ProseMirror-toolbar-group {
  white-space: nowrap;
}

.ProseMirror-toolbar-group:not(:last-child) {
  margin-right: 16px;
}

.ProseMirror-toolbar-item {
  padding: 6px 12px;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid transparent;
  background: transparent;
  transition: background-color 0.1s, color 0.1s;
}

.ProseMirror-toolbar-item[data-active=true] {
  background-color: #5754f8;
  color: #fff;
}

.ProseMirror-toolbar-item:active {
  background-color: #5754f8;
  color: #fff;
}
