.ProseMirror-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 8px 0;
  display: flex;
  align-items: center;
  background: white;
}

.ProseMirror-toolbar-group:not(:last-child) {
  margin-right: 16px;
}

.ProseMirror-toolbar-item {
  padding: 6px 16px;
  cursor: pointer;
  border: 1px solid #000;
  background: white;
}

.ProseMirror-toolbar-item:not(:last-child) {
  border-right: none;
}

.ProseMirror-toolbar-item:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.ProseMirror-toolbar-item:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ProseMirror-toolbar-item[data-active=true] {
  background: #b4d5f8;
}

.ProseMirror-toolbar-item:active {
  background: #80bdfc;
}

.ProseMirror-toolbar-item:disabled[data-active=true] {
  color: #000;
}

.ProseMirror-toolbar-item > div:not(.ProseMirror-icon) {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 8px;
}
