.ProseMirror-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  background: white;
}

.ProseMirror-toolbar-group {
  white-space: nowrap;
}

.ProseMirror-toolbar-group:not(:last-child) {
  margin-right: 16px;
}

.ProseMirror-toolbar-item {
  padding: 6px 12px;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  background: white;
}

.ProseMirror-toolbar-item:not(:last-child) {
  border-right: none;
}

.ProseMirror-toolbar-item:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.ProseMirror-toolbar-item:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.ProseMirror-toolbar-item[data-active=true] {
  background: #e6e6e6;
}

.ProseMirror-toolbar-item:active {
  background: #aaa;
}

.ProseMirror-toolbar-item:disabled[data-active=true] {
  color: #000;
}

.ProseMirror-toolbar-item > div:not(.ProseMirror-icon) {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 8px;
}
