body {
    margin: 0;
}

.pompom-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    max-width: 60em;
    overflow: hidden;
    padding: 8px;
    box-sizing: border-box;
}

.pompom-toolbar {
    --toolbar-color: #5754f8;
    --toolbar-color-inverse: #fff;
}

.pompom-content {
    flex: 1;
    overflow: hidden;
}

.ProseMirror {
    font-family: "San Francisco", serif;
    font-size: 20px;
    padding: 16px 4px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.ProseMirror p:first-child {
    margin-top: 0;
}

.ProseMirror > p.empty-node:first-child::before {
    content: 'Start typing…';
}

.ProseMirror sub, .ProseMirror sup {
    line-height: 0;
}

.ProseMirror > *:first-child {
    margin-top: 0;
}

.ProseMirror .empty-node::before {
    float: left;
    color: #aaa;
    pointer-events: none;
    height: 0;
}

.ProseMirror code {
    font-family: "Fira Code Retina", "Fira Code", monospace;
}

.ProseMirror blockquote {
    border-left: 4px solid #ddd;
    padding-left: 12px;
    margin-left: 0;
}
