.pompom-container {
    padding: 8px;
}

.pompom-toolbar {
    --toolbar-color: #5754f8;
    --toolbar-color-inverse: #fff;
}

.ProseMirror {
    font-family: "San Francisco", serif;
    font-size: 20px;
    padding: 16px 4px;
    max-width: 40em;
    overflow-y: auto;
    min-height: 5em;
    max-height: 10em;
}

.ProseMirror p:first-child {
    margin-top: 0;
}

.ProseMirror > p.empty-node:first-child::before {
    content: 'Start typing…';
}

.ProseMirror sub, .ProseMirror sup {
    line-height: 0;
}

.ProseMirror > *:first-child {
    margin-top: 0;
}

.ProseMirror .empty-node::before {
    float: left;
    color: #aaa;
    pointer-events: none;
    height: 0;
}

.ProseMirror code {
    font-family: "Fira Code Retina", "Fira Code", monospace;
}

