.pompom-container {
    position: relative;
}

.pompom-floater {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    background: white;
    opacity: 0.8;
}

.pompom-floater .pompom-toolbar {
    padding: 0;
}

.pompom-floater .pompom-toolbar-item {
    padding: 4px 8px;
}
